# DATA COLLECTION AND PROPROCESSING BASICS

Pandas has a variety of functions named with the pattern '`read_xxx`' for reading data in different formats into Python.  Right now we will focus on reading '`csv`' files, so we are using the '`read_csv`' function, which can read csv (and "tsv") format files that are exported from spreadsheet software like Excel.  The '`read_csv`' function by default expects the first row of the data file to contain column names.  

Using '`read_csv`' in its default mode is fairly straightforward.  There are many options to '`read_csv`' that are useful for handling less-common situations.  For example, you would use the option `sep='\t'` instead of the default `sep=','` if the fields of your data file are delimited by tabs instead of commas.

In [75]:
import pandas as pd

In [76]:
# PULLING AND NAMING OUR DATA SET 
url = "NHANES.csv"
da = pd.read_csv(url)

In [77]:
da.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [78]:
da.shape

(5735, 28)

In [79]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [80]:
da.dtypes

SEQN          int64
ALQ101      float64
ALQ110      float64
ALQ130      float64
SMQ020        int64
RIAGENDR      int64
RIDAGEYR      int64
RIDRETH1      int64
DMDCITZN    float64
DMDEDUC2    float64
DMDMARTL    float64
DMDHHSIZ      int64
WTINT2YR    float64
SDMVPSU       int64
SDMVSTRA      int64
INDFMPIR    float64
BPXSY1      float64
BPXDI1      float64
BPXSY2      float64
BPXDI2      float64
BMXWT       float64
BMXHT       float64
BMXBMI      float64
BMXLEG      float64
BMXARML     float64
BMXARMC     float64
BMXWAIST    float64
HIQ210      float64
dtype: object

### Slicing a data set

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent cases and the columns represent variables.  One common manipulation of a data frame is to extract the data for one case or for one variable.  There are several ways to do this, as shown below.

To extract all the values for one variable, the following three approaches are equivalent ("DMDEDUC2" here is an NHANES variable containing a person's educational attainment).  In these four lines of code, we are assigning the data from one column of the data frame `da` into new variables `w`, `x`, `y`, and `z`.  The first three approaches access the variable by name.  The fourth approach accesses the variable by position (note that `DMDEDUC2` is in position 9 of the `da.columns` array shown above -- remember that Python counts starting at position zero).

Below is for slicing a column

In [81]:
w = da["DMDEDUC2"]
x = da.loc[:, "DMDEDUC2"]
y = da.DMDEDUC2
z = da.iloc[:, 9]  # DMDEDUC2 is in column 9

In [82]:
y.head()

0    5.0
1    3.0
2    3.0
3    5.0
4    4.0
Name: DMDEDUC2, dtype: float64

In [83]:
z.shape

(5735,)

Another reason to slice a variable out of a data frame is so that we can then pass it into a function.  For example, we can find the maximum value over all `DMDEDUC2` values using any one of the following four lines of code:

In [84]:
print(da["DMDEDUC2"].max())
print(da.loc[:, "DMDEDUC2"].max())
print(da.DMDEDUC2.max())
print(da.iloc[:, 9].max())

9.0
9.0
9.0
9.0

or this..

In [85]:
print(w.max())
print(x.max())
print(y.max())
print(z.max())

9.0
9.0
9.0
9.0

Every value in a Python program has a type, and the type information can be obtained using Python's 'type' function. This can be useful, for example, if you are looking for the documentation associated with some value, but you do not know what the value's type is.

Here we see that the variable da has type 'DataFrame', while one column of da has type 'Series'. As noted above, a Series is a Pandas data structure for holding a single column (or row) of data.

In [86]:
print(type(da)) # The type of the variable
print(type(da.DMDEDUC2)) # The type of one column of the data frame
print(type(da.iloc[2,:])) # The type of one row of the data frame

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

##### Below is for slicing a row

In [95]:
da.head(6)

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
5,83737,2.0,2.0,NaN,2,2,72,1,2.0,2.0,...,122.0,58.0,64.4,150.0,28.6,34.4,33.5,31.4,92.9,NaN

In [99]:
case_from_da= da.iloc[3:5,1:8]

In [100]:
case_from_da

   ALQ101  ALQ110  ALQ130  SMQ020  RIAGENDR  RIDAGEYR  RIDRETH1
3     2.0     1.0     1.0       2         2        56         3
4     2.0     1.0     1.0       2         2        42         4

for getting the a single value from a space in your dataframe you need to know what row or column it is.. [row,column] : for denoting everything on the row or column

In [38]:
da.iloc[2,8]

1.0

In [40]:
x = da.iloc[3:5, :]
y = da.iloc[:, 2:5]

In [41]:
x

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [42]:
y

      ALQ110  ALQ130  SMQ020
0        NaN     1.0       1
1        NaN     6.0       1
2        NaN     NaN       1
3        1.0     1.0       2
4        1.0     1.0       2
...      ...     ...     ...
5730     2.0     NaN       1
5731     2.0     NaN       2
5732     NaN     1.0       1
5733     NaN     NaN       1
5734     NaN     2.0       2

[5735 rows x 3 columns]

To count the number of null values in the dataframe or series we can use the method below

In [43]:
print(pd.isnull(da.DMDEDUC2).sum())
print(pd.notnull(da.DMDEDUC2).sum())

261
5474

lets do some more manipulations and preprocessing

In [101]:
url = "Cartwheeldata.csv"

cartwheel_df = pd.read_csv(url)

type(cartwheel_df)

pandas.core.frame.DataFrame

In [102]:
cartwheel_df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

to check for unique values in a column

In [104]:
cartwheel_df.Gender.unique()

array(['F', 'M'], dtype=object)

In [49]:
cartwheel_df.GenderGroup.unique()

array([1, 2])

In [119]:
cartwheel_df.groupby(['Gender','GenderGroup'])

This output indicates that we have two types of combinations.

Case 1: Gender = F & Gender Group = 1
Case 2: Gender = M & GenderGroup = 2.
This validates our initial assumption that these two fields essentially portray the same information.

In [53]:
import numpy as np

In [113]:
help(np.random.randint)

Help on built-in function randint:

randint(...) method of numpy.random.mtrand.RandomState instance
    randint(low, high=None, size=None, dtype=int)

    Return random integers from `low` (inclusive) to `high` (exclusive).

    Return random integers from the "discrete uniform" distribution of
    the specified dtype in the "half-open" interval [`low`, `high`). If
    `high` is None (the default), then results are from [0, `low`).

    .. note::
        New code should use the ``integers`` method of a ``default_rng()``
        instance instead; please see the :ref:`random-quick-start`.

    Parameters
    ----------
    low : int or array-like of ints
        Lowest (signed) integers to be drawn from the distribution (unless
        ``high=None``, in which case this parameter is one above the
        *highest* such integer).
    high : int or array-like of ints, optional
        If provided, one above the largest (signed) integer to be drawn
        from the distribution (see above for behavior if ``high=None``).
        If array-like, must contain integer values
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  Default is None, in which case a
        single value is returned.
    dtype : dtype, optional
        Desired dtype of the result. Byteorder must be native.
        The default value is int.

        .. versionadded:: 1.11.0

    Returns
    -------
    out : int or ndarray of ints
        `size`-shaped array of random integers from the appropriate
        distribution, or a single such random int if `size` not provided.

    See Also
    --------
    random_integers : similar to `randint`, only for the closed
        interval [`low`, `high`], and 1 is the lowest value if `high` is
        omitted.
    Generator.integers: which should be used for new code.

    Examples
    --------
    >>> np.random.randint(2, size=10)
    array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
    >>> np.random.randint(1, size=10)
    array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

    Generate a 2 x 4 array of ints between 0 and 4, inclusive:

    >>> np.random.randint(5, size=(2, 4))
    array([[4, 0, 2, 1], # random
           [3, 2, 2, 0]])

    Generate a 1 x 3 array with 3 different upper bounds

    >>> np.random.randint(1, [3, 5, 10])
    array([2, 2, 9]) # random

    Generate a 1 by 3 array with 3 different lower bounds

    >>> np.random.randint([1, 5, 7], 10)
    array([9, 8, 7]) # random

    Generate a 2 by 4 array using broadcasting with dtype of uint8

    >>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
    array([[ 8,  6,  9,  7], # random
           [ 1, 16,  9, 12]], dtype=uint8)

In [120]:
### 2x3 zero array 
d = np.zeros((2,3))

print(d)

### 4x2 array of ones
e = np.ones((4,2))

print(e)

### 2x2 constant array
f = np.full((4,2), 19)

print(f)

### 3x3 random array
g = np.random.randint(0,1, size=(5,3))

print(g)

[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]
[[19 19]
 [19 19]
 [19 19]
 [19 19]]
[[0 0 0]
 [0 0 0]
 [0 0 0]
 [0 0 0]
 [0 0 0]]

In [59]:
print(g[3,1])

0.008202677953636939

### remember! it is column x row

In [60]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

In [64]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

# Elementwise sum; both produce the array
# [[ 6.0  8.0]
#  [10.0 12.0]]
print(x + y)
print(np.add(x, y))

# Elementwise difference; both produce the array
# [[-4.0 -4.0]
#  [-4.0 -4.0]]
print(x - y)
print(np.subtract(x, y))

# Elementwise product; both produce the array
# [[ 5.0 12.0]
#  [21.0 32.0]]
print(x * y)
print(np.multiply(x, y))

# Elementwise division; both produce the array
# [[ 0.2         0.33333333]
#  [ 0.42857143  0.5       ]]
print(x / y)
print(np.divide(x, y))

# Elementwise square root; produces the array
# [[ 1.          1.41421356]
#  [ 1.73205081  2.        ]]
print(np.sqrt(x))

[[ 6.  8.]
 [10. 12.]]
[[ 6.  8.]
 [10. 12.]]
[[-4. -4.]
 [-4. -4.]]
[[-4. -4.]
 [-4. -4.]]
[[ 5. 12.]
 [21. 32.]]
[[ 5. 12.]
 [21. 32.]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[1.         1.41421356]
 [1.73205081 2.        ]]

In [67]:
x[:1, 1:3]

array([[2.]])

In [71]:
from pylab import *

# Create some test data
dx = .01
dx

0.01

In [73]:
X  = np.arange(-2,2,dx)
Y  = exp(-X**2)

# Normalize the data to a proper PDF
Y /= (dx*Y).sum()

# Compute the CDF
CY = np.cumsum(Y*dx)

# Plot both
plot(X,Y)
plot(X,CY,'r--')

show()

array([0.01831564, 0.01906121, 0.01983316, 0.02063225, 0.02145924,
       0.02231491, 0.02320007, 0.02411551, 0.02506206, 0.02604056,
       0.02705185, 0.02809679, 0.02917626, 0.03029114, 0.03144234,
       0.03263076, 0.03385732, 0.03512297, 0.03642864, 0.03777529,
       0.0391639 , 0.04059542, 0.04207086, 0.0435912 , 0.04515745,
       0.04677062, 0.04843173, 0.05014181, 0.05190189, 0.05371301,
       0.05557621, 0.05749254, 0.05946306, 0.06148881, 0.06357087,
       0.06571027, 0.0679081 , 0.0701654 , 0.07248323, 0.07486266,
       0.07730474, 0.07981052, 0.08238104, 0.08501734, 0.08772047,
       0.09049144, 0.09333128, 0.09624098, 0.09922155, 0.10227398,
       0.10539922, 0.10859825, 0.11187199, 0.11522138, 0.11864731,
       0.12215067, 0.12573233, 0.12939313, 0.13313389, 0.13695539,
       0.14085842, 0.14484371, 0.14891196, 0.15306387, 0.15730007,
       0.16162119, 0.16602781, 0.17052046, 0.17509966, 0.17976587,
       0.18451952, 0.18936101, 0.19429066, 0.19930878, 0.20441562,
       0.20961139, 0.21489623, 0.22027027, 0.22573354, 0.23128606,
       0.23692776, 0.24265854, 0.24847824, 0.25438663, 0.26038343,
       0.2664683 , 0.27264083, 0.27890055, 0.28524695, 0.29167941,
       0.29819728, 0.30479983, 0.31148628, 0.31825574, 0.3251073 ,
       0.33203995, 0.33905261, 0.34614414, 0.35331333, 0.36055888,
       0.36787944, 0.37527357, 0.38273976, 0.39027643, 0.39788192,
       0.40555451, 0.41329238, 0.42109366, 0.4289564 , 0.43687857,
       0.44485807, 0.45289272, 0.46098029, 0.46911844, 0.4773048 ,
       0.4855369 , 0.4938122 , 0.50212811, 0.51048195, 0.51887099,
       0.52729242, 0.53574338, 0.54422093, 0.55272206, 0.56124374,
       0.56978282, 0.57833615, 0.58690049, 0.59547254, 0.60404897,
       0.61262639, 0.62120136, 0.62977038, 0.63832993, 0.64687642,
       0.65540625, 0.66391576, 0.67240126, 0.68085903, 0.68928531,
       0.69767633, 0.70602827, 0.71433731, 0.72259961, 0.73081129,
       0.73896849, 0.7470673 , 0.75510384, 0.7630742 , 0.77097448,
       0.77880078, 0.7865492 , 0.79421585, 0.80179686, 0.80928835,
       0.81668648, 0.82398743, 0.8311874 , 0.8382826 , 0.8452693 ,
       0.85214379, 0.85890239, 0.86554146, 0.87205743, 0.87844674,
       0.8847059 , 0.89083148, 0.8968201 , 0.90266841, 0.90837317,
       0.91393119, 0.91933932, 0.92459451, 0.92969379, 0.93463425,
       0.93941306, 0.94402748, 0.94847486, 0.95275261, 0.95685827,
       0.96078944, 0.96454383, 0.96811926, 0.97151361, 0.9747249 ,
       0.97775124, 0.98059083, 0.983242  , 0.98570318, 0.98797291,
       0.99004983, 0.99193272, 0.99362044, 0.99511199, 0.99640647,
       0.99750312, 0.99840128, 0.9991004 , 0.99960008, 0.9999    ,
       1.        , 0.9999    , 0.99960008, 0.9991004 , 0.99840128,
       0.99750312, 0.99640647, 0.99511199, 0.99362044, 0.99193272,
       0.99004983, 0.98797291, 0.98570318, 0.983242  , 0.98059083,
       0.97775124, 0.9747249 , 0.97151361, 0.96811926, 0.96454383,
       0.96078944, 0.95685827, 0.95275261, 0.94847486, 0.94402748,
       0.93941306, 0.93463425, 0.92969379, 0.92459451, 0.91933932,
       0.91393119, 0.90837317, 0.90266841, 0.8968201 , 0.89083148,
       0.8847059 , 0.87844674, 0.87205743, 0.86554146, 0.85890239,
       0.85214379, 0.8452693 , 0.8382826 , 0.8311874 , 0.82398743,
       0.81668648, 0.80928835, 0.80179686, 0.79421585, 0.7865492 ,
       0.77880078, 0.77097448, 0.7630742 , 0.75510384, 0.7470673 ,
       0.73896849, 0.73081129, 0.72259961, 0.71433731, 0.70602827,
       0.69767633, 0.68928531, 0.68085903, 0.67240126, 0.66391576,
       0.65540625, 0.64687642, 0.63832993, 0.62977038, 0.62120136,
       0.61262639, 0.60404897, 0.59547254, 0.58690049, 0.57833615,
       0.56978282, 0.56124374, 0.55272206, 0.54422093, 0.53574338,
       0.52729242, 0.51887099, 0.51048195, 0.50212811, 0.4938122 ,
       0.4855369 , 0.4773048 , 0.46911844, 0.46098029, 0.45289272,
       0.44485807, 0.43687857, 0.4289564 , 0.42109366, 0.41329238,
       0.40555451, 0.39788192, 0.39027643, 0.38273976, 0.37527357,
       0.36787944, 0.36055888, 0.35331333, 0.34614414, 0.33905261,
       0.33203995, 0.3251073 , 0.31825574, 0.31148628, 0.30479983,
       0.29819728, 0.29167941, 0.28524695, 0.27890055, 0.27264083,
       0.2664683 , 0.26038343, 0.25438663, 0.24847824, 0.24265854,
       0.23692776, 0.23128606, 0.22573354, 0.22027027, 0.21489623,
       0.20961139, 0.20441562, 0.19930878, 0.19429066, 0.18936101,
       0.18451952, 0.17976587, 0.17509966, 0.17052046, 0.16602781,
       0.16162119, 0.15730007, 0.15306387, 0.14891196, 0.14484371,
       0.14085842, 0.13695539, 0.13313389, 0.12939313, 0.12573233,
       0.12215067, 0.11864731, 0.11522138, 0.11187199, 0.10859825,
       0.10539922, 0.10227398, 0.09922155, 0.09624098, 0.09333128,
       0.09049144, 0.08772047, 0.08501734, 0.08238104, 0.07981052,
       0.07730474, 0.07486266, 0.07248323, 0.0701654 , 0.0679081 ,
       0.06571027, 0.06357087, 0.06148881, 0.05946306, 0.05749254,
       0.05557621, 0.05371301, 0.05190189, 0.05014181, 0.04843173,
       0.04677062, 0.04515745, 0.0435912 , 0.04207086, 0.04059542,
       0.0391639 , 0.03777529, 0.03642864, 0.03512297, 0.03385732,
       0.03263076, 0.03144234, 0.03029114, 0.02917626, 0.02809679,
       0.02705185, 0.02604056, 0.02506206, 0.02411551, 0.02320007,
       0.02231491, 0.02145924, 0.02063225, 0.01983316, 0.01906121])